* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#edit {
	float: left;
	width: 50%;
	height: 100%;
}

#edit textarea {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10px;
	border: none;
}

#preview {
	float: right;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 10px;
	background-color: #EEE;
}